<!-- Basic HTML element -->
<!-- <div #divElement>
    Hello my div
</div> -->

<!-- Angular Component-->
<!-- <app-child-example></app-child-example>
<app-child-example></app-child-example>
<app-child-example></app-child-example>
<app-child-example></app-child-example>
<app-child-example></app-child-example> -->

<!-- Content Child-->
<div>
    <app-single-slot>
        <app-template-example></app-template-example>
        <app-template-example></app-template-example>
        <app-template-example></app-template-example>
        <app-template-example></app-template-example>
        <app-template-example></app-template-example>
    </app-single-slot>
</div>