<!--content-projection-->
<!--single-slot-content-->

<!-- <app-single-slot>
  <div>I want my div here</div>
  <div>I want my div here</div>
  <div>I want my div here</div>
  <div>I want my div here</div>
  <div>I want my div here</div>
  <div>I want my div here</div>
  <div>I want my div here</div>
</app-single-slot> -->

<!--multi-slot-content-->
<!-- <app-multi-slot>
  <div lowerPart>This is bottom part</div>
  <div upperPart>This is upper part</div>
  <div leftPart>This is left part</div>
  <div rightPart>This is right part</div>
  <div class="class-display">This is class display</div>
  <div id="id-display">This is id display</div>
</app-multi-slot> -->

<!-- ng template-->
<!-- <app-template-example [fromParentTemplate]="myParentTemplate">

</app-template-example>

<ng-template let-greet="greetHawaiian" let-name="nameHawaiian" let-bushbush #myParentTemplate>
  <p>From parent: {{greet}} {{name}} {{bushbush}}</p>
</ng-template> -->

<!-- ViewChild -->
<!-- <app-view-child></app-view-child> -->

<app-view-child></app-view-child>